extends layout

block content
  - if(!oauth_access_token)
    #login
      a(href='/oauth/login') Subscribe to Rdio? Login
  - else
    #welcome
      p Welcome #{displayName}!
      img.profile(alt="You!", src=icon, height=50, width=50)

      ul
        li
          a(href='/oauth/logout') Log out
        li
          a(href='/crate/new') New Crate
        li
          a(href='/crates') List Crates