extends layout

block content
  div
    - if(!oauth_access_token)
      a(href='/oauth/login') Subscribe to Rdio? Login
    - else
      a(href='/clear') Log out

  footer
    p.right Powered by: 
      a(href='http://rdio.com') Rdio

  //- script(src='https://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js')

block footer
  script
    var playbackToken = '#{playbackToken}';