extends layout

block content
  - if(!oauth_access_token)
    #login
      a(href='/oauth/login') Subscribe to Rdio? Login
  - else
    div
      a(href='/clear') Log out

  footer
    p Powered by: 
      a(href='http://rdio.com') Rdio
    p.disclaimer This product uses the Rdio API but is not endorsed, certified or otherwise approved in any way by Rdio®.


block footer
  //- script(src='https://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js')
  script
    var playbackToken = '#{playbackToken}';