html, body
  margin 0
  padding 0

body
  background-color #EEE
  color #333
  font-size 16px
  font-family 'lucida grande', tahoma, verdana, arial, sans-serif

#login
  background #e5e5e5
  margin 1em auto
  padding 1em
  border 1px #AAA solid
  border-radius 5px
  width 500px
  text-align center

footer
  absolute bottom 1em
  width 100%

  p
    margin auto
    text-align center

.disclaimer
  color #999
  font-size 12px
  font-style italic

img.profile
  border-radius 50%

a, a:link, a:visited
  color blue